# Delete

## Taking a crack at predicting [Rossman store sales](https://www.kaggle.com/c/rossmann-store-sales/data)

We were given some data from a retailer, with all of their stores, and info about their clients and sales for each day. 

With this dataset, we want to create an estimator that can forecast sales on the next day.

In [1]:
# import pandas! 
import pandas as pd 

# visualization stuff: 
import seaborn as sns
from matplotlib import pyplot as plt 
% matplotlib inline 

# A few optional things to get rid of useless warnings, and to make plots pretty
import warnings 
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")
pd.options.mode.chained_assignment = None  # default='warn'
plt.style.use('seaborn')

In [5]:
# Let's get our dataset: 
data = pd.read_csv('../data/sales_data.csv', 
                    low_memory=False)  # this is used to ensure that it checks the types properly 
data.head(3)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Next day is SchoolHoliday,Next day is StateHoliday,Next day is a Promo,Next day is Open
0,2013-01-01,1115,2,0,0,0,0,a,1,1,0,0,1
1,2013-01-01,378,2,0,0,0,0,a,1,1,0,0,1
2,2013-01-01,375,2,0,0,0,0,a,1,1,0,0,1

##### What is a timeseries?

Use stocks for timestamps, and sales for timedeltas

American and US dates

`.quarter`, and all the [other cool stuff](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components)

`Timedelta`

`Timespan and period index `

.starttime and .endtime

##### Datetime objects

###### Reading timeseries data

- `parse_dates = [[0, 1]],` 
- `infer_datetime_format = True`
- `performance issues with to_datetime`

You might want to review the talk for this one: `data.to_period()`

Extracting datetime for month, year and day columns

In [17]:
# new in pandas 0.18
df = pd.DataFrame({'year':[2015, 2016], 'month':[2,3], 'day':[4,5], 'hour':[12, 13]})
df
pd.to_datetime(df)

0   2015-02-04 12:00:00
1   2016-03-05 13:00:00
dtype: datetime64[ns]

`.truncate(before = '10/31/2015', after = '12/31/2015')`

`.asfreq`

`.resample`

The importance of sorting your index

- irreg_ts = irreg_ts.sort_index()

`.shift()`

`.diff()`

`rolling`  (_Note: While you learn this part, you should be listening [to this](https://www.youtube.com/watch?v=qCRae5mRoRE)_)

Custom function on rolling

Multi-index

# Splits:
- BLU1 - all the timeseries stuff 
- BLU2 - making predictions 
- BLU3 - Workflow, creating the datasets

-----

# Attempts at getting started

Oh my. That's a string.

In [13]:
print(type(data.Date.iloc[1]))

<class 'str'>

What we actually want, is for it to be a DateTime object.

In [14]:
date_as_datetime = pd.to_datetime(data.Date)

In [15]:
date_as_datetime.head()

0   2013-01-01
1   2013-01-01
2   2013-01-01
3   2013-01-01
4   2013-01-01
Name: Date, dtype: datetime64[ns]

In [16]:
date_as_datetime.iloc[1]

Timestamp('2013-01-01 00:00:00')

-

##### Timedeltas